#resultado {
  margin-top: 5px;
}

.panel-body img {
  max-width: 295px;
}

#botoesAlfabeto {
  margin-bottom: 10px;
}

.text-white {
  color: white;
  cursor: pointer;
}

.fa-youtube {
  color: red;
}
