<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.16.0.css">
  <link rel="stylesheet" href="stylesheets/css.css">
  <title>
    Consumo de API The Meal DB
  </title>
</head>

<body>

  <h1 class="text-center">
    Consumo de API The Meal DB
  </h1>
  <div id="botoesAlfabeto" class="row col-md-12 text-center">

  </div>
  <br>
  <div class="row col-md-12 text-center">
    <input type="text" id="buscarDados" placeholder="Digite busca..." title="Digite sua busca">
    <button type="button" class="btn btn-primary" id="btProcurarNome">Buscar por Nome</button>
    <button type="button" class="btn btn-primary" id="listarCategorias">Categorias Principais</button>
    <button type="button" class="btn btn-primary" id="mostrarTestesUnitarios">
      Mostrar Testes Unitários
    </button>
  </div>
  <br>
  <div class="row col-md-12 text-center" id="resultado">

  </div>
  <!-- para os testes unitários -->
  <div class="row col-md-12 hide" id="qunit"></div>
  <div class="row col-md-12 hide" id="qunit-fixture"></div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/qunit/qunit-2.16.0.js"></script>
  <script type="text/javascript" src="js/api.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/testes-unitarios.js"></script>
</body>

</html>