<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<head>
  <title>
    Consumo de API The Meal DB
  </title>
</head>

<body>

  <h1>
    Consumo de API The Meal DB
  </h1>

  <div id="resultado">

  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    const api = {
      dominio: 'https://www.themealdb.com/api/json/v1/1/',
      buscaDados(metodo) {
        $.ajax({
          url: this.dominio + metodo,
          dataType: 'json',
          success: function (result) {
            console.log(result);
          }
        });
      }
    };

  </script>
</body>

</html>